<!DOCTYPE html>
<html lang="uk">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>svg sprites</title>
</head>

<body>
  <svg>
    <use xlink:href="#logo1"></use>
  </svg>
  <svg>
    <use xlink:href="#logo2"></use>
  </svg>
  <svg>
    <use xlink:href="#logo3"></use>
  </svg>
</body>
</html>