<header>
   <h1>{{ title }}</h1>
</header>

<main>
   <section class="todo-list" *ngIf='todos.length'>
      <div class="todo-item" 
            *ngFor='let todo of todos' 
            [class.completed]= "todo.completed"
            (click)="toggle(todo)"> 
         <button class="checkbox icon">
            <i class="material-icons">
               {{ todo.completed ? 'check_box' : 'check_box_outline_blank'}}
            </i>
         </button>

         <span class="title"> {{ todo.title }}</span>

         <div class="actions">
            <button class="delete icon">
               <i (click)="delete(todo)" class="material-icons">delete</i>
            </button>
         </div>
      </div>
   </section>
</main>